<%= form_with(model: Favorite.new, remote: true, url: favorite_path(Favorite.find_by(user_id: current_user.id, micropost_id: micropost.id)), method: :post) do |f| %>
  <%= button_tag(type: "submit") do %>
    <i class="fas fa-heart favorited" id="favorite_judge_<%= micropost.id %>"></i><span id="favorite_count_<%= micropost.id %>"><%= micropost.favorites.count %></span>
  <% end %>
<% end %>
