<%= provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <h1>Name</h1>
    <p><%= @user.name %></p>

    <% if @user.user_image? %>
      <%= image_tag(@user.user_image.url, width: '150px') if @user.user_image? %>
    <% else %>
      <%= image_tag(@user.user_image.url, width: '150px') %>
    <% end %>

    <p>いいね：<%= @evaluations.where(value: 1).count %></p>
    <p>問題なし：<%= @evaluations.where(value: 2).count %></p>
    <p>少し不満：<%= @evaluations.where(value: 3).count %></p>
    <p>不満：<%= @evaluations.where(value: 4).count %></p>

  </aside>

  <div class="col-md-8">
    <% if current_user.my_room.count != 0 %>
      <h3 style="color: red;">取引中の商品があります！チェックしてください！</h3>
    <% end %>
    <% if @user.microposts.any? %>
      <h3 class="text-center">あなたの出品物 (<%= @user.microposts.count %>)</h3>
        <ol class="no_list_style" style="padding: 10px;">
          <div class="row">
          <%= render @microposts %>
          </div>
        </ol>
      <%= paginate @microposts %>
    <% else %>
    <h2 class="text-center">まだ出品物がありません</h2>
    <% end %>
  </div>
</div>
