<%= provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <h1>Name</h1>
    <%= @user.name %>
  </aside>

  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3 class="text-center">あなたの出品物 (<%= @user.microposts.count %>)</h3>
        <ol class="no_list_style" style="padding: 10px;">
          <div class="row">
          <%= render @microposts %>
          </div>
        </ol>
      <%= paginate @microposts %>
    <% end %>
  </div>
</div>
