<div class="text-center">
  <h1>Room id <%= @room.id %>の取引画面</h1>
</div>

  <% if @messages.any? %>
    <%= render @messages %>
  <% end %>

  <%= form_for(@message) do |f| %>

    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', :size => "20x10" %>

    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.hidden_field :from_id, value: current_user.id %>

    <% if current_user.id == @room.buyer_id %>
      <%= f.hidden_field :to_id, value: @room.micropost.user.id%>
    <% else %>
      <%= f.hidden_field :to_id, value: @room.buyer_id%>
    <% end %>

    <%= f.submit '送信', class: 'btn btn-primary my-3' %>

  <% end %>
