<li id="micropost-<%= micropost.id %>" class="col-sm-4 micropost_whole_style">
  <h2 class="micropost_title_style"><%= link_to micropost.title, micropost %></h2>
  <p class="micropost_price_style"><%= micropost.price %></p>
  <span class=" micropost_timestamp_style">
    Posted <%= time_ago_in_words(micropost.updated_at) %> ago.
  </span>
  <div>
    <% if current_user.favorited?(micropost) %>
      <%= render 'favorites/unfavorited', micropost: micropost %>
    <% else %>
      <%= render 'favorites/favorite', micropost: micropost %>
    <% end %>
  </div>


</li>
