<li id="micropost-<%= micropost.id %>" class="col-sm-4 micropost_whole_style">
  <h2 class="micropost_title_style"><%= link_to micropost.title, micropost %></h2>
  <p class="micropost_price_style"><%= micropost.price %></p>
  <span class=" micropost_timestamp_style">
    Posted <%= time_ago_in_words(micropost.updated_at) %> ago.
  </span>
  <div>
    <% if current_user.favorited?(micropost) %>
      <%= link_to favorite_path(Favorite.find_by(user_id: current_user.id, micropost_id: micropost.id)), method: :delete do %>
        <i class="fas fa-heart favorited"></i>
      <% end %>
    <% else %>
      <%= link_to favorites_path(micropost_id: micropost.id), method: :post do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
    <span><%= micropost.favorites.count %></span>
  </div>

</li>
