<li id="micropost-<%= micropost.id %>">
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <h2 class="content"><%= micropost.title %></h2>
  <h3 class="content"><%= micropost.content %></h3>
  <p class="content"><%= micropost.price %></p>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.updated_at) %> ago.
  </span>
  <p>
    <% if current_user?(micropost.user) %>
      <%= link_to "Edit", edit_micropost_path(micropost), class: "btn-sm btn-success" %>
      <%= link_to "Delete", micropost_path(micropost), method: :delete, data: {confirm: "You sure?"}, class:"btn-sm btn-danger" %>
    <% end %>
  </p>
</li>
