<h1 class="text-center"><%= @micropost.title %></h1>
<p class="text-center show_content"><%= @micropost.content %></p>
<p class="text-center show_price_style"><%= @micropost.price %></p>
<p class="text-center show_timestamp_style">
  Posted <%= time_ago_in_words(@micropost.updated_at) %> ago.
</p>

<p class="text-center show_btn_style">
  <% if current_user?(@micropost.user) %>
    <%= link_to "Edit", edit_micropost_path(@micropost), class: "btn-sm btn-success" %>
    <%= link_to "Delete", micropost_path(@micropost), method: :delete, data: {confirm: "You sure?"}, class:"btn-sm btn-danger" %>
  <% else %>
    <%= link_to "Buy!", '#', class: "btn-sm btn-primary", data: {confirm: "You buy #{@micropost.title}. Sure?"}%>
  <% end %>
</p>

<div>
  <% if current_user.favorited?(@micropost) %>
    <%= link_to favorite_path(Favorite.find_by(user_id: current_user.id, micropost_id: @micropost.id)), method: :delete do %>
      <i class="fas fa-heart favorited"></i>
    <% end %>
  <% else %>
    <%= link_to favorites_path(micropost_id: @micropost.id), method: :post do %>
      <i class="far fa-heart"></i>
    <% end %>
  <% end %>
  <span><%= @micropost.favorites.count %></span>
</div>
