<div class="text-center">
<h1><%= @micropost.title %></h1>
<p class="show_content"><%= @micropost.content %></p>
<%= image_tag(@micropost.picture.url) if @micropost.picture? %>
<p class="show_price_style"><%= @micropost.price %></p>
<p class="show_timestamp_style">
  Posted <%= time_ago_in_words(@micropost.updated_at) %> ago.
</p>
<p class="show_user_name">
  出品者：<%= @micropost.user.name %>
</p>

<p class="show_btn_style">
  <% if current_user?(@micropost.user) %>
    <%= link_to "Edit", edit_micropost_path(@micropost), class: "btn btn-success" %>
    <%= link_to "Delete", micropost_path(@micropost), method: :delete, data: {confirm: "You sure?"}, class:"btn btn-danger" %>
  <% else %>
    <%= link_to "Buy!", '#', class: "btn btn-primary", data: {confirm: "You buy #{@micropost.title}. Sure?"}%>
  <% end %>
</p>

<div>
  <% if current_user.favorited?(@micropost) %>
    <%= render 'favorites/unfavorited', micropost: @micropost %>
  <% else %>
    <%= render 'favorites/favorite', micropost: @micropost %>
  <% end %>
</div>

</div>
